.centered {
    text-align: center;
}
.nonselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pad {
    border-radius: 10px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    color: white;
}
.beatStrip {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10px;
    opacity: 0.2;
    background-color: black;
    position: absolute;
    top: 0px;
}
.activeIcon {
    color: white;
}
.paddedIcon {
    background-color: orange;
    text-align: center;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}
.fxPanelContainer {
    color: #FFF;
    border: 2px grey solid;
}
.fxLabel {
    font-size: 20px;
}