.centered {
    text-align: center;
}
.hidden {
    visibility: hidden;
}
.nonselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pad {
    display:block;
    border-radius: 10px;
    margin: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    text-align: center;
    color: white;
}
.beatStrip {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 10px;
    opacity: 0.2;
    background-color: black;
    position: absolute;
    top: 0px;
}
.activeIcon {
    color: white;
}
.paddedIcon {
    background-color: orange;
    text-align: center;
    padding: 10px;
    margin: 2px;
    cursor: pointer;
}
.fxPanelContainer {
    color: #FFF;
    border: 2px grey solid;
    padding: 5px;
}
.fxLabel {
    font-size: 20px;
}
.startModal {
    background-color: #FFF;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    font-size: 128px;
    text-align: center;
}
.startModal p {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
.startModalContent {
    margin: auto;
    width: 100%;
}

.startModal a {
    text-decoration: none;
}
.startModal a:link {
    color: red;
}
.startModal a:visited {
    color: green;
}
.startModal a:hover {
    color: hotpink;
}
.startModal a:active {
    color: blue;
}
.blinking {
    animation: blinker 1s linear infinite;
}
.blinkingSlow {
    animation: blinker 2s linear infinite;
}
@keyframes blinker {
    50% {
        opacity: 0.5;
    }
}
.fillHeight {
    height: 100%;
}